html, body {
    margin: 0;
    height: 100%;
}

/* ---- Editor  ------ */
.editorContainer {
    height: calc(100vh - 60px);
}
.CodeMirror {
    height: 100%;
}


/* ---- Controls ------ */
.controls{
    height: 60px;
    background: #1a1a1a;
}