html, body {
    margin   : 0;
    height   : 100%;
    overflow : hidden;
}

/* ---- Editor  ------ */
.editorContainer {
    height : calc(100vh - 50px);
}

.CodeMirror {
    height : 100%;
}

/* ---- Controls ------ */
.controls {
    height          : 30px;
    background      : #041B22;
    border-top      : 1px solid #004b56;
    display         : flex;
    justify-content : flex-start;
    padding         : 10px;
}

.btn {
    padding          : 5px;
    outline          : none;
    width            : 80px;
    font-size        : 10pt;
    border           : none;
    background-color : #C94A16;
    color            : white;
    margin-right     : 20px;
    margin-left      : 20px;
    border-radius    : 3px;
}

.btn:hover {
    cursor  : pointer;
    opacity : 0.75;
}

.languageSelect {
    min-width        : 140px;
    font-size        : 10pt;
    border           : none;
    background-color : #002B36;
    color            : white;
    border-radius    : 0;
    /*-webkit-appearance: none;*/
}

.shareLinkIpt {
    width: 340px;
    background-color: #002B36;
    outline: none;
    border: none;
    color: white;
    font-size: 10pt;
    padding-left: 9px;
    border-radius: 3px;

}

.languageSelect:focus {
    outline : none;
    border  : none;
}
