@controls-height          : 50px;
@controls-padding         : 10px;
@editor-bg-color          : #002B36;
@editor-bg-color-darkened : #041B22;
@editor-bg-color-lightened: #004b56;

html, body {
    margin     : 0;
    height     : 100%;
    overflow   : hidden;
    visibility : hidden;
}

/* ---- Editor  ------ */
.editorContainer {
    height : calc(~"100vh");
}

.CodeMirror {
    height : 100%;
}
