@controls-height          : 50px;
@controls-padding         : 0px;
@editor-bg-color          : #002B36;
@editor-bg-color-darkened : #041B22;
@editor-bg-color-lightened: #004b56;
@hover-border-width       : 3px;

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  //visibility: hidden;
}

/* ----- Loading Page ---- */
.spinnerContainer {
    height          : 100vh;
    display         : flex;
    justify-content : center;
    align-items     : center;
    color           : @editor-bg-color-darkened;
}

/* ---- Editor  ------ */
.editorContainer {
    height : calc(~"100vh -" @controls-height);
}
.ReactCodeMirror {
  height: 100%;
}

.CodeMirror {
    height    : 100%;
    font-size : 16px;
}

/* ---- Bottom Menu ----- */
.border-bottom {
    height     : @controls-height;
    //padding         : @controls-padding;
    background : @editor-bg-color-darkened;
    border-top : 1px solid @editor-bg-color-lightened;
    color      : white;
    margin-top : 0px;
}

.menu-items {
    margin-top  : 0px;
    float       : left;
    height      : 100%;
    padding-left: 10px;
}

.menu-items li {
    color           : #d5d5d5;
    float           : left;
    margin-left     : 15px;
    font-size       : 12pt;
    height          : calc(@controls-height - @hover-border-width);
    padding-top     : 16px;
    list-style-type : none;
}

.help-control {
    padding-top  : 12px;
    margin-right : 15px;
    float        : right;
    height       : calc(@controls-height - @hover-border-width);
    @media all and (max-width : 465px) {
        display : none;
    }
}

.menu-items li:hover {
    cursor             : pointer;
    -webkit-box-shadow : 0px 3px 0px #E64002 inset;
    -moz-box-shadow    : 0px 3px 0px #E64002 inset;
    box-shadow         : 0px 3px 0px #E64002 inset;
}

#saveButton {
    margin-left : 25px;
}

.logo {
    float        : left;
    padding-left : 10px;
    padding-top  : 10px
}

.keyboard {
    background    : #fff;
    font-weight   : 700;
    padding       : 2px .35rem;
    font-size     : .8rem;
    margin        : 0 2px;
    border-radius : .25rem;
    color         : #3d3c40;
    border-bottom : 2px solid #9e9ea6;
    box-shadow    : 0 1px 2px rgba(0, 0, 0, .5);
    text-shadow   : none
}

/* ==== Utilities ===== */
.paddingR-15 {
    padding-right : 15px;
}

.paddingL-15 {
    padding-left : 15px;
}

.cursorHover-pointer:hover {
    cursor : pointer;
}
