<!DOCTYPE html>
<!--!

   ====================================================================================

    ======   ======   =====    =====   =====    =====   ==   =           =====   =====
    =        =    =   =    =   =       =    =     =     = =  =             =       =
    =        =    =   =    =   =====   =====      =     =  = =             =       =
    =        =    =   =    =   =       =    =     =     =   ==             =       =
    ======   ======   =====    =====   ======   =====   =    =     =     =====     =

   ====================================================================================

-->
<html>
<head>
    <title>CodeMirror TEST</title>
    <meta charset="utf-8"/>

     <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/codemirror.min.css">

    
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/codemirror.min.js"></script>

    <link rel="stylesheet"
          href="<<<.themeCss>>>">

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.12.0/addon/mode/loadmode.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/mode/meta.min.js"></script>

    <style type="text/css">
        html {
            overflow : hidden;
        }

        body {
            margin-left: <%- leftMargin%>px;
            margin-top: <%- topMargin%>px;
            overflow : hidden;
        }

        .CodeMirror {
            height      : 100%;
            font-size   : 20px;
            line-height : 24px;
            /*overflow    : hidden;*/
        }

        .CodeMirror-lines {
            padding : 0;
        }
        .CodeMirror pre {
            padding: 0;
        }
    </style>
</head>
<body>
<script>
    CodeMirror.modeURL = "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.12.0/mode/%N/%N.min.js";
    var editor = CodeMirror(document.body, {
        value: "<<<.code>>>",
        tabSize: 2,
        readOnly: true
    });

    // editor.setOption("mode", "<%- mimeType %>");
    // CodeMirror.autoLoadMode(editor, "<%- mode %>");

    let langInfo = CodeMirror.findModeByName("<<<.language>>>");
    let mode = langInfo.mode;
    editor.setOption("mode", langInfo.mime);
    CodeMirror.autoLoadMode(editor, langInfo.mode);

</script>

</body>
</html>
